*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar a{
    color: white !important;
    

}
body{
    /* background-color:black !important; */
    color: white !important;
}

.navbar ul li:hover{
    scale: 1.1;
}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  .card:after{
    
    content:"";
    position:absolute;
    /* left:2px;
    bottom:0px; */
    width:5px;
    height:100%;
    background-color:white;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin:right;
}

.card:hover::after{
    transform:scaleY(0.8);
}


 
 